body {
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: $margin-global;
    top: $margin-global;
    right: $margin-global;
    bottom: $margin-global;
  }
  &:before {
    z-index: 0;
    background: url($image-bg) no-repeat left center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &:after {
    z-index: 1;
    left: $margin-global - 1;
    top: $margin-global - 1;
    right: $margin-global - 1;
    bottom: $margin-global - 1;
    background: url($image-mask) no-repeat left bottom;
    //-webkit-background-size: contain;
    //background-size: contain;
  }
}

#logo {
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  transition: $animation;

  @include respond-to(small-height) {
    opacity:0;
  }

  body.show-posts & {
    width: 50% !important;

    @include respond-to(tablet) {
      top: 150px !important;
      width: 100% !important;
    }
  }

  body.show-track & {
    width: 50% !important;
    left: 50% !important;
  }

  .logo {
    width: 40vw;
    max-width: 200px;
  }
}

#credits {
  z-index: 10;
  position: absolute;
  bottom: $margin-global;
  left: $margin-global*1.2;
  font-size: 0.5em;
  font-weight: 500;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  line-height: 1em;
  padding:0;
  color: $color-main-text;
  transition: $animation;
  //transform-origin: 0 100%;
  //transform: translateX(100%) rotate(-90deg);

  @include respond-to(tablet) {
    body.show-posts &,
    body.show-track &{
      opacity: 0;
    }
  }
}
