// TRACK INFO

@keyframes playerLoop {
  0% { top: 0; }
  48% { top: 0; }
  50% { top: -20px; }
  99% { top: -20px }
  100% { top: 0; }
}

#track-info {
  z-index: 100;
  text-align: left;
  position: absolute;
  top: 20px;
  left: 20px;
  height: 40px;
  padding: 11px 80px 0 20px;
  color: $color-main-text;
  background-color: $color-main-bg;
  @extend .noSelect;
  overflow: hidden;

  @include respond-to(phone) {
    max-width: 290px;
  }

  &.fullscreen {
    max-width: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }
}

#track-info-viewer {
  height: 20px;
  overflow: hidden;

  .slider {
    position: relative;
    top: 0;
  }

  &.animated {
    .slider {
      -webkit-animation: playerLoop 10s infinite; /* Safari 4+ */
      -moz-animation:    playerLoop 10s infinite; /* Fx 5+ */
      -o-animation:      playerLoop 10s infinite; /* Opera 12+ */
      animation:         playerLoop 10s infinite; /* IE 10+, Fx 29+ */
    }
  }
}

#track-info-text {
  margin: 0;
  min-width: 200px;
  margin-left: 35px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#track-info-type {
  margin-left: 35px;
  height: 20px;
  white-space: nowrap;
}

#track-info-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: none;

  body.mixtape & {
    display: block;
  }

  i.close { display: none; }
  i.open { display: block; }

  body.show-track & {
    i.close { display: block; }
    i.open { display: none; }
  }

}

#equalizer {
  width: $equalizer-size;
  height: $equalizer-size;
  background-image: url($image-equalizer);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor:pointer;

  body.muted & {
    opacity: 0.2;
  }
}

// TRACK DETAILS

#track-details {
  z-index: 10;
  transition: $animation;
  width:50%;
  height:100%;
  overflow-y: scroll;
  position:absolute;
  top: 0;
  bottom: 0;
  left: -50%;
  color: $color-info-text;
  background-color:rgba($color-info-bg, $opacity-info-bg);

  @include respond-to(tablet) {
    width:100%;
    left: -100%;
  }

  body.show-track & {
    left: 0;
  }
}

#track-details-type {
  font-family: $font-condensed;
  text-align: right;

  span {
    position: relative;
    display: inline-block;

    &.author {
      margin-left: 0.2em;
    }

    &:not(:empty) {
      margin-bottom: 1em;
    }
  }
}

#track-details-text {
  overflow: scroll;
  color: $color-info-text;

  ol, ul {
    margin:0;
    padding:0 0 0 2em;
    line-height: 1.5em;

    li {
      padding-left: 1em;
    }
  }

  .artist {
    font-weight: bold;
  }

  p {
    margin: 35px 0px 25px 0px;
  }
}

#track-details-cover {

  img {
    margin: auto;
    margin-bottom: 1em;
    width: 100%;
  }
}


