$image-bg:          'img/background.png' !default;
$image-equalizer:   'img/equalizer.gif' !default;

$font-family:       'Avenir Next', 'Helvetica', sans-serif !default;
$font-condensed:    'Avenir Next Condensed', 'Helvetica', sans-serif !default;
$font-size:         14px !default;

$color-main-bg:     #FFF !default;
$color-main-text:   #666 !default;

$color-info-bg:     rgba(0, 0, 0, 0.9) !default;
$color-info-text:   #FFF !default;

$opacity-info-bg:   0.7 !default;

$animation:         all 0.3s ease-in-out !default;

$margin-global:     20px !default;

$equalizer-size:    15px !default;
