/*
#aaa1a253.2 %Nobel(Grey)
#33262434.3 %Wood Bark(Brown)
#8844444.7 %Solid Pink(Brown)
#c1402b2.1 %Grenadier(Orange)
#7ca7e11.4 %Jordy Blue(Blue)
#cf38671.1 %Cerise(Red)
#b6ce841.0 %Caper(Green)
#3e2e561.0 %Cherry Pie(Violet)
#f1b2370.8 %Supernova(Yellow)
#1826720.5 %Midnight Blue(Blue)*/

*{
	box-sizing: border-box;
}

html,body {
	font-size:15px;
	font-family: 'Raleway', sans-serif;
  	background: url(fond.png) no-repeat center fixed; 
  	-webkit-background-size: cover;
  	background-size: cover;
  	width:100%;
  	height:100%;
 	min-height:100%;
  	padding:0px;
  	margin:0px;
}

.titles{
	font-size:22px;
}

h1, h2{
	margin : 0px;
	padding : 0px;
}

#top-left-box{
	max-width: 40%;
	max-height: 100%;
	overflow:scroll;
	text-align:left;
	position:absolute;
	top:0px;
	left:0px;
	padding:25px 15px 25px 15px;
	color:black;
	background-color: rgba(255,255,255,0.85);
}

.equalizer{
	width:20px;
	position:absolute;
	margin-top:-3px;
}

#track-info{
	margin: 0px 0px 0px 28px;
}

#tracklist {
	overflow:scroll;
    white-space: pre;
	color: black;
}

#tracklist p{
	margin: 35px 0px 25px 0px;
}

#cover img{
	margin:auto;
	padding-top:35px;
	width:100%;
}

#track-details{
	height: 100%;
	display:none;
}

a{
	color:#b8483a;
}

#show-infos{
	position:absolute;
	top:0px;
	right:0px;
	z-index:3;
	padding:20px 20px 20px 20px;
	color:black;
	background-color: rgba(255,255,255,0.85);
}

#infos-container{
	width:100%;
	height:65%;
	padding:4% 15% 4% 15%;
	position:absolute;
	bottom:0px;
	left:0px;
}

#infos{
	background-color:white;
	opacity:0.85;
	height:100%;
	width:100%;
	overflow:scroll;
	padding:20px 20px 20px 20px;
}

@media all and (max-device-width: 700px)
{
	#cover img{
		width:100%;
	}

	#top-left-box, #tracklist, #track-details{
		max-width: 100%;
		width:100%;
		max-height:100%;
	}

	#show-infos{
		color:black;
		background: none;
	}

	#track-info-container{
		padding-right:40px;
	}

	#infos-container{
		padding:60px 15px 15px 15px;
	}
}