@font-face {
  font-family: 'nina-icons';
  src: url($fonts-path + 'nina-icons/nina-icons.eot?7yc1vp');
  src: url($fonts-path + 'nina-icons/nina-icons.eot?7yc1vp#iefix')
      format('embedded-opentype'),
    url($fonts-path + 'nina-icons/nina-icons.ttf?7yc1vp') format('truetype'),
    url($fonts-path + 'nina-icons/nina-icons.woff?7yc1vp') format('woff'),
    url($fonts-path + 'nina-icons/nina-icons.svg?7yc1vp#nina-icons')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nina-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nina-icon-blur_circular:before {
  content: '\e906';
}
.nina-icon-blur_off:before {
  content: '\e907';
}
.nina-icon-blur_on:before {
  content: '\e908';
}
.nina-icon-camera:before {
  content: '\e909';
}
.nina-icon-color_lens:before {
  content: '\e90a';
}
.nina-icon-invert_colors_on:before {
  content: '\e910';
}
.nina-icon-add_circle:before {
  content: '\e147';
}
.nina-icon-add_circle_outline:before {
  content: '\e3ba';
}
.nina-icon-album:before {
  content: '\e019';
}
.nina-icon-brightness_1:before {
  content: '\e3a6';
}
.nina-icon-brightness_2:before {
  content: '\e3a7';
}
.nina-icon-brightness_3:before {
  content: '\e3a8';
}
.nina-icon-brightness_4:before {
  content: '\e3a9';
}
.nina-icon-brightness_low:before {
  content: '\e1ad';
}
.nina-icon-navigate_before:before {
  content: '\e408';
}
.nina-icon-navigate_next:before {
  content: '\e409';
}
.nina-icon-close:before {
  content: '\e5cd';
}
.nina-icon-remove_circle:before {
  content: '\e15c';
}
.nina-icon-expand_less:before {
  content: '\e5ce';
}
.nina-icon-expand_more:before {
  content: '\e5cf';
}
.nina-icon-format_align_justify:before {
  content: '\e235';
}
.nina-icon-fullscreen:before {
  content: '\e5d0';
}
.nina-icon-fullscreen_exit:before {
  content: '\e5d1';
}
.nina-icon-highlight_off:before {
  content: '\e888';
}
.nina-icon-mail_outline:before {
  content: '\e0e1';
}
.nina-icon-menu:before {
  content: '\e5d2';
}
.nina-icon-pause_circle_filled:before {
  content: '\e035';
}
.nina-icon-pause_circle_outline:before {
  content: '\e036';
}
.nina-icon-play_arrow:before {
  content: '\e037';
}
.nina-icon-play_circle_filled:before {
  content: '\e038';
}
.nina-icon-play_circle_outline:before {
  content: '\e039';
}
.nina-icon-playlist_add:before {
  content: '\e03b';
}
.nina-icon-playlist_add_check:before {
  content: '\e065';
}
.nina-icon-playlist_play:before {
  content: '\e05f';
}
.nina-icon-queue_music:before {
  content: '\e03d';
}
.nina-icon-remove_circle_outline:before {
  content: '\e15d';
}
.nina-icon-reorder:before {
  content: '\e8fe';
}
.nina-icon-view_headline:before {
  content: '\e8ee';
}
.nina-icon-volume_down:before {
  content: '\e04d';
}
.nina-icon-volume_mute:before {
  content: '\e04e';
}
.nina-icon-volume_off:before {
  content: '\e04f';
}
.nina-icon-volume_up:before {
  content: '\e050';
}
.nina-icon-wb_sunny:before {
  content: '\e430';
}
.nina-icon-colours:before {
  content: '\e90b';
}
.nina-icon-drop:before {
  content: '\e90c';
}
.nina-icon-lab-flask:before {
  content: '\e90d';
}
.nina-icon-rocket:before {
  content: '\e90e';
}
.nina-icon-quote:before {
  content: '\e902';
}
.nina-icon-droplet:before {
  content: '\e90f';
}
.nina-icon-gift:before {
  content: '\e99f';
}
.nina-icon-fire:before {
  content: '\e9a9';
}
.nina-icon-bullhorn:before {
  content: '\e91a';
}
.nina-icon-facebook:before {
  content: '\e900';
}
.nina-icon-social:before {
  content: '\e900';
}
.nina-icon-telescope:before {
  content: '\e901';
}
.nina-icon-astronomy:before {
  content: '\e901';
}
.nina-icon-facebook-official:before {
  content: '\e903';
}
.nina-icon-facebook2:before {
  content: '\e904';
}
.nina-icon-facebook-f:before {
  content: '\e904';
}
.nina-icon-paper-plane:before {
  content: '\e905';
}
.nina-icon-send:before {
  content: '\e905';
}
