
@font-face {
  font-family: 'nina-icons';
  src:  url($fonts-path + 'nina-icons/nina-icons.eot?sgxx1b');
  src:  url($fonts-path + 'nina-icons/nina-icons.eot?sgxx1b#iefix') format('embedded-opentype'),
  url($fonts-path + 'nina-icons/nina-icons.ttf?sgxx1b') format('truetype'),
  url($fonts-path + 'nina-icons/nina-icons.woff?sgxx1b') format('woff'),
  url($fonts-path + 'nina-icons/nina-icons.svg?sgxx1b#nina-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="nina-icon-"], [class*=" nina-icon-"] {
  /* use !important to prevent issues with browser extensions that change /assets/fonts */
  font-family: 'nina-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nina-icon-add_circle:before {
  content: "\e147";
}
.nina-icon-add_circle_outline:before {
  content: "\e3ba";
}
.nina-icon-brightness_1:before {
  content: "\e3a6";
}
.nina-icon-brightness_2:before {
  content: "\e3a7";
}
.nina-icon-brightness_3:before {
  content: "\e3a8";
}
.nina-icon-brightness_4:before {
  content: "\e3a9";
}
.nina-icon-brightness_low:before {
  content: "\e1ad";
}
.nina-icon-brightness_medium:before {
  content: "\e1ae";
}
.nina-icon-cancel:before {
  content: "\e5c9";
}
.nina-icon-navigate_before:before {
  content: "\e408";
}
.nina-icon-navigate_next:before {
  content: "\e409";
}
.nina-icon-close:before {
  content: "\e5cd";
}
.nina-icon-remove_circle:before {
  content: "\e15c";
}
.nina-icon-expand_less:before {
  content: "\e5ce";
}
.nina-icon-expand_more:before {
  content: "\e5cf";
}
.nina-icon-format_align_justify:before {
  content: "\e235";
}
.nina-icon-fullscreen:before {
  content: "\e5d0";
}
.nina-icon-fullscreen_exit:before {
  content: "\e5d1";
}
.nina-icon-highlight_off:before {
  content: "\e888";
}
.nina-icon-menu:before {
  content: "\e5d2";
}
.nina-icon-pause_circle_filled:before {
  content: "\e035";
}
.nina-icon-pause_circle_outline:before {
  content: "\e036";
}
.nina-icon-play_circle_filled:before {
  content: "\e038";
}
.nina-icon-play_circle_outline:before {
  content: "\e039";
}
.nina-icon-playlist_add:before {
  content: "\e03b";
}
.nina-icon-playlist_add_check:before {
  content: "\e065";
}
.nina-icon-playlist_play:before {
  content: "\e05f";
}
.nina-icon-queue_music:before {
  content: "\e03d";
}
.nina-icon-remove_circle_outline:before {
  content: "\e15d";
}
.nina-icon-reorder:before {
  content: "\e8fe";
}
.nina-icon-view_headline:before {
  content: "\e8ee";
}
.nina-icon-volume_down:before {
  content: "\e04d";
}
.nina-icon-volume_mute:before {
  content: "\e04e";
}
.nina-icon-volume_off:before {
  content: "\e04f";
}
.nina-icon-volume_up:before {
  content: "\e050";
}
.nina-icon-wb_sunny:before {
  content: "\e430";
}
