
@font-face {
  font-family: 'tradegothicregular';
  src: url($fonts-path + 'tradegothic/tradegothic-boldcondtwenty-webfont.eot');
  src: url($fonts-path + 'tradegothic/tradegothic-boldcondtwenty-webfont.eot?#iefix') format('embedded-opentype'),
  url($fonts-path + 'tradegothic/tradegothic-boldcondtwenty-webfont.woff') format('woff'),
  url($fonts-path + 'tradegothic/tradegothic-boldcondtwenty-webfont.ttf') format('truetype'),
  url($fonts-path + 'tradegothic/tradegothic-boldcondtwenty-webfont.svg#tradegothicregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'tradegothicregular';
  src: url($fonts-path + 'tradegothic/tradegothic-condeighteen-webfont.eot');
  src: url($fonts-path + 'tradegothic/tradegothic-condeighteen-webfont.eot?#iefix') format('embedded-opentype'),
  url($fonts-path + 'tradegothic/tradegothic-condeighteen-webfont.woff') format('woff'),
  url($fonts-path + 'tradegothic/tradegothic-condeighteen-webfont.ttf') format('truetype'),
  url($fonts-path + 'tradegothic/tradegothic-condeighteen-webfont.svg#tradegothicregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
