.event-bg {
  z-index: 5;
  position: absolute;
  left:0;
  width: 50%;
  top:0;
  bottom:0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  background-image: url('img/event.png');
  transition: $animation;

  @include respond-to(tablet) {
    width:100%;
  }

  body.show-details & {
    left: 50%;

    @include respond-to(tablet) {
      left:100%;
    }
  }

  body.show-posts & {
    @include respond-to(tablet) {
      left:-100%;
    }
  }
}
