
#track-details {
  z-index: 10;
  transition: $animation;
  width:50%;
  height:100%;
  overflow-y: scroll;
  position:absolute;
  top: 0;
  bottom: 0;
  left: -50%;
  color: $color-info-text;
  background-color:rgba($color-info-bg, $opacity-info-bg);

  @include respond-to(tablet) {
    width:100%;
    left: -100%;
  }

  .container {
    padding-top: $margin-global;
  }

  body.show-track & {
    left: 0;
  }
}

#track-details-type {
  font-family: $font-condensed;
  text-align: right;

  span {
    position: relative;
    display: inline-block;

    &.author {
      margin-left: 0.2em;
    }

    &:not(:empty) {
      margin-bottom: 1em;
    }
  }
}

#track-details-text {
  font-family: $font-condensed;
  overflow: scroll;
  color: $color-info-text;

  ol, ul {
    margin:0;
    padding:0 0 0 2em;
    line-height: 1.5em;

    li {
      padding-left: 1em;
    }
  }

  .artist {
    font-weight: bold;
  }

  p {
    margin: 35px 0px 25px 0px;
  }
}

#track-details-cover {

  img {
    margin: auto;
    margin-bottom: 1em;
    width: 100%;
  }
}


