$fonts-path:            '/static/fonts/' !default;

$font-family:           'Avenir Next', 'Helvetica', sans-serif !default;
$font-condensed:        'Avenir Next Condensed', 'Helvetica', sans-serif !default;
$font-size:             14px !default;
$line-height:           1.4em !default;

$color-main-bg:         #FFF !default;
$color-main-text:       #444 !default;
$color-progress-bar :   #444 !default;
$color-progress-track:  #EEE !default;
$color-audience:        #FFF !default;
$color-info-bg:         rgba($color-main-bg, 0.9) !default;
$color-info-text:       $color-main-text !default;

$night-color-main-bg:         #444 !default;
$night-color-main-text:       #FFF !default;
$night-color-progress-bar :   #FFF !default;
$night-color-progress-track:  #555 !default;
$night-color-audience:        #FFF !default;
$night-color-info-bg:         rgba($night-color-main-bg, 0.9) !default;
$night-color-info-text:       $night-color-main-text !default;

$opacity-info-bg:       0.9 !default;

$animation:             all 0.3s ease-in-out !default;
$animation-nobg:        all 0.3s ease-in-out, background-color 0s linear, color 0s linear !default;

$margin-global:         20px !default;
$body-margin:           20px !default;
$margin-global-sm:      10px !default;
$body-margin-sm:        10px !default;

$equalizer-size:        17px !default;
$progress-width:        2px !default;

@import "fonts";
@import "mixins";
